@import "tailwindcss";

@theme {
  --color-background: #050505;
  --color-surface: #121212;
  --color-primary: #A855F7;
  --color-primary-dark: #7C3AED;
  --color-primary-light: #C084FC;
  --font-sans: var(--font-inter), ui-sans-serif, system-ui, sans-serif;

  --image-purple-gradient: linear-gradient(to right, #7C3AED, #A855F7);
}

:root {
  --background: #050505;
  --foreground: #ededed;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}